.App {
  display: flex;
  flex-direction: row;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.sidebar{
  min-width: 254px;
  text-transform: capitalize;
}

.sidebar-container {
  box-shadow: 0 2px 4px 0 rgba(48,56,97,.2);
  padding-top: 35px;
  padding-right: 20px;
  position: sticky;
  top: 0;
  max-height: calc(100vh - 100px);
  margin: 15px;
  margin-bottom: 100px;
  overflow: hidden;
}

.sidebar-item {
  padding: 0 10px;
  height: 85px;
  display: flex;
  align-items: center;
  width: 100%;
  border: none;
  text-decoration: none;
  color: #000;
  background: #ffffff;
  text-align: left;
}

.sidebar-title{
  font-size: 16px;
  font-weight: 600;
  text-transform: capitalize;
}

.sidebar-subtitle{
  opacity: .8;
  font-size: 10px;
  margin-top: 2px;
  text-transform: uppercase;
}

.sidebar-selected {
  background: #e46d47;
  color: white;
}

.restaurant-list{
  display: flex;
  justify-content: space-between;
  flex-flow: wrap;
}

.restaurant-card{
  margin: 20px 20px 57px 0;
  width: 254px;
  display: flex;
  flex-direction: column;
  text-align: left;
}

img{
  height: 160px;
}

.title {
  font-size: 17px;
  font-weight: 500;
  word-break: break-word;
  margin-top: 14px;
}
.subtitle1 {
  color: #686b78;
  font-size: 13px;
  margin-top: 4px;
}

.details{
  display: flex;
  margin-top: 14px;
  font-size: 12px;
  -ms-flex-pack: justify;
  justify-content: space-between;
  align-items: center;
  color: #535665;
}

.rating {
  background-color: #48c479;
  color: #fff;
  padding: 0 5px;
  width: 43px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.category-title {
  text-transform: capitalize;
  font-size: 28px;
  font-weight: 600;
  text-align: left;
}

.load-more{
  margin: 20px 20px 57px;
  width: 254px;
  border: 2px solid #e46d47;
  background-color: #fff;
  font-size: 24px;
  color: #e46d47;
}
